<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="itp.project.mulatschak">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup">
        <activity
                android:name="itp.project.popups.PopupPauseMenu"
                android:screenOrientation="sensorLandscape"
                android:theme="@style/AppTheme.Popup">
        </activity>
        <activity
                android:name="itp.project.popups.GemachteStiche"
                android:screenOrientation="landscape">
<!--                android:theme="@style/AppTheme.Popup">-->
        </activity>
        <activity android:name="itp.project.popups.PopupHoldingCards"
                  android:screenOrientation="landscape"
                  android:theme="@style/AppTheme.Popup">
        </activity>
        <activity
                android:name="itp.project.popups.PopupTutorialVideo"
                android:screenOrientation="sensorLandscape"
                android:theme="@style/AppTheme.Popup">
        </activity>
        <activity
                android:name="itp.project.popups.PopupDesign"
                android:screenOrientation="sensorLandscape"
                android:theme="@style/AppTheme.Popup">
        </activity>
        <activity
                android:name="itp.project.mulatschak.DesignPackActivity"
                android:parentActivityName="itp.project.mulatschak.SettingsActivity"
                android:screenOrientation="sensorLandscape">
        </activity>
        <activity
                android:name="itp.project.popups.PopupName"
                android:screenOrientation="sensorLandscape"
                android:theme="@style/AppTheme.Popup">
        </activity>
        <activity
                android:name="itp.project.popups.PopupKartentausch"
                android:screenOrientation="sensorLandscape"
                android:theme="@style/AppTheme.Popup">
        </activity>
        <activity
                android:name="itp.project.popups.PopupSelectAtout"
                android:screenOrientation="sensorLandscape"
                android:theme="@style/AppTheme.Popup">
        </activity>
        <activity
                android:name="itp.project.popups.PopupAtout"
                android:screenOrientation="sensorLandscape"
                android:theme="@style/AppTheme.Popup">
        </activity>
        <activity
                android:name="itp.project.popups.PopupStichansage"
                android:screenOrientation="sensorLandscape"
                android:theme="@style/AppTheme.Popup">
        </activity>
        <activity
                android:name="itp.project.popups.PopupSaveGame"
                android:screenOrientation="sensorLandscape">
        </activity>
        <activity
                android:name="itp.project.popups.PopupDifficulty"
                android:screenOrientation="sensorLandscape"
                android:theme="@style/AppTheme.Popup">
        </activity>
        <activity
                android:name="itp.project.popups.PopupLog"
                android:screenOrientation="sensorLandscape"
                android:theme="@style/AppTheme.Popup">
        </activity>
        <activity
                android:name="itp.project.popups.PopupWeli"
                android:screenOrientation="sensorLandscape"
                android:theme="@style/AppTheme.Popup">
        </activity>
        <activity
                android:name="itp.project.mulatschak.TutorialActivity"
                android:parentActivityName="itp.project.mulatschak.MainActivity"
                android:screenOrientation="sensorLandscape">
        </activity>
        <activity
                android:name="itp.project.mulatschak.Playground"
                android:screenOrientation="sensorLandscape"
                android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
                android:name="itp.project.mulatschak.SettingsActivity"
                android:screenOrientation="sensorLandscape">
        </activity>
        <activity
                android:name="itp.project.mulatschak.MainActivity"
                android:screenOrientation="sensorLandscape"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>